{% set name = "index" %}
{% set title = "rLoop" %}
{% extends "src/includes/main.html" %}

{% block main %}
	<section id="home-page" class="page home">
		<div id="rloop-logo-wrapper" >
			<img id="rloop-logo" class="rloop-logo" src="../images/rLoopLogo.png">
		</div>
	</section>
	<section class="page story">
		
		<div class="content vertical-split">
			<article>
				
			</article>
			<article>
				<h2 class="centered">STORY</h2>

			</article>
		</div>
	</section>
	<section id="gameplay-page" class="page gameplay">
		<div class="content vertical-split">
			<article>
				<h2>GAMEPLAY</h2>
			</article>
			<article>
				<img class="split-image" src="../images/placeholder-image.png">
			</article>
		</div>
	</section>
	<section id="media-page" class="page media">
		<div class="content single-column">
			<h2>MEDIA</h2>
		</div>
	</section>
	
	<section id="store-page" class="page store">
		<div class="content vertical-split">
			<article>
				<h2>STORE</h2>
				
			</article>
			<article>
					
			</article>
		</div>
	</section>
	<section id="news-page" class="page news">
		
	</section>
{% endblock %}
